body {
    background-color: #F5F5F5;
}

.navbar {
    background-color: #0A3D62 !important;
}

.navbar .nav-link,
.navbar-brand {
    color: #F5F5F5 !important;
}

.navbar .nav-link:hover {
    color: #88F498 !important;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #0A3D62; 
    text-align: center;
    margin-top: 100px;
	font-size: 3rem;
	letter-spacing: 1px;
}