body {
    background-color: #F5F5F5;
}

.navbar {
    background-color: #0A3D62 !important;
}

.navbar .nav-link,
.navbar-brand {
    color: #F5F5F5 !important;
}

.navbar .nav-link:hover {
    color: #88F498 !important;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #0A3D62; 
    text-align: center;
    margin-top: 100px;
	font-size: 3rem;
	letter-spacing: 1px;
}

 .banner-container {
    position: relative;
    margin-top: 56px; 
}

.banner-image {
    width: 100%;
    height: 400px; /* adjust height */
    object-fit: cover;
    opacity: 0.8; /* makes text easier to read */
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Anton', sans-serif;
    font-size: 3rem;
    color: #0A3D62;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.15); /* optional overlay behind text */
    padding: 10px 20px;
    border-radius: 5px;
}

.page-header h1 {
    font-family: 'Anton', sans-serif;
    color: #0A3D62;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}